:root{

    --color-primary-light: #00a8ff;
    --color-primary-dark: #2f3640;

    --color-typography-light: #f5f6fa;
    --color-typography-light-2: #dcdde1;
    --color-typography-dark: #1e272e;


    --modal-duration: 1s;
    --modal-color: #428bca;
    
}

